{% load static %}
<footer style="background-color: rgb(207, 207, 204);" class="text-black pt-5 pb-4" style="bottom; 10px;" >

  <div class="container text-center text-md-left">

    <div class="row text-center text-md-left">


      <figure class="col-md-2 col-lg-3 col-xl-3 mx-auto mt-5 ">
        <img width="279" height="190" src="/static/img/Logobgp.png" class="attachment-medium size-medium"
          alt="Logo Barokah Perkasa Group" loading="lazy">
        <figcaption class="widget-image-caption wp-caption-text">WE ARE SOLID AND HAVE POWER</figcaption>
      </figure>
      <div class="col-md-6 col-lg-3 col-xl-5 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning"> Barokah Shipping</h5>
        <p><strong>VISI</strong><br>Menjadi Perusahaan Pelayaran Terbaik dalam Industri Offshore dan Pengangkutan Bahan
          Bakar</p>
        <p><strong>MISI</strong><br>Penyedia Jasa Pelayaran dalam Industri Offshore dan Pengangkutan Bahan Bakar dengan
          Memastikan Keselamatan, Kesehatan Kerja, Perlindungan Lingkungan, dan Mutu yang Berstandarisasi Tinggi untuk
          Mencapai Kepuasan Pelanggan, Keuntungan Finansial, dan Efektifitas Operasional.</p>
      </div>
      <div class="col-md-2 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning text-left"> Alamat</h5>
        <p>
          <i class="fas fa-home mr-3"></i> Klandasan Ilir, Kota Balikpapan.
        </p>
        <p>
          <i class="text-right fas fa-envelope mr-3"></i> mail@barokahperkasagroup.com.
        </p>
        <p>
          <i class="fas fa-phone mr-3"></i> +6281-xxx-xx.
        </p>
        <p>
          <i class="fas fa-print mr-3"></i> 0542 xxxxx.
        </p>
      </div>
      <hr class="mb-4">

      <div class="row align-items-center">
        <div class="col-md-8 col-lg-9">
          <p class="text-lg-start"> Copyright @2022 All rights reserved by :
            <a href="#" style="text-decoration: none;">
              <strong class="text-warning"> Muhammad ishak</strong>
            </a>
          </p>
        </div>

        <div class="col-md-4 col-lg-3">
          <div class="text-center text-md-right">
            <ul class="list-unstyled list-inline">
              <li class="list-inline-item">
                <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i
                    class="fab fa-facebook"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i
                    class="fab fa-twitter"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i
                    class="fab fa-google-plus"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i
                    class="fab fa-linkedin-in"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i
                    class="fab fa-youtube"></i></a>
              </li>
            </ul>
          </div>

        </div>
      </div>
</footer>